<b> В задании нужно загрузить датасет с данными оттока и ответить на несколько вопросов (написать код). При этом сам датасет уже есть и его необязательно качать с репозитория</b>

Цель задания: проверить базовые навыки работы студентов с Pandas, умение проводить такой же базовый EDA (exploratory data analysis), делать feature engineering и обучать и валидировать модель.

Список столбцов с типами данных в датасете:

- customerID           object
- gender               object
- SeniorCitizen         int64
- Partner              object
- Dependents           object
- tenure                int64
- PhoneService         object
- MultipleLines        object
- InternetService      object
- OnlineSecurity       object
- OnlineBackup         object
- DeviceProtection     object
- TechSupport          object
- StreamingTV          object
- StreamingMovies      object
- Contract             object
- PaperlessBilling     object
- PaymentMethod        object
- MonthlyCharges      float64
- TotalCharges         object
- Churn                object

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("C:/Ангелина/Data Sience/5 четверть/ML in business/1/_all_/Lection1/WA_Fn-UseC_-Telco-Customer-Churn.csv")
df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

##### 1. Какое соотношение мужчин и женщин в представленном наборе данных?

In [2]:
gender_counts = df['gender'].value_counts()
print(gender_counts)
print('\n')
print(f"Male\t{round(gender_counts['Male']/sum(gender_counts)*100, 2)} %")
print(f"Female\t{round(gender_counts['Female']/sum(gender_counts)*100, 2)} %")

Male      3555
Female    3488
Name: gender, dtype: int64


Male	50.48 %
Female	49.52 %

##### 2. Какое количество уникальных значений у поля InternetService?

In [3]:
print(df['InternetService'].nunique())

3

##### 3. Выведите статистики по полю TotalCharges (median, mean, std).

In [4]:
total = df.loc[df['TotalCharges'] != ' ', 'TotalCharges'].astype(float).copy()
total.describe()

count    7032.000000
mean     2283.300441
std      2266.771362
min        18.800000
25%       401.450000
50%      1397.475000
75%      3794.737500
max      8684.800000
Name: TotalCharges, dtype: float64

В чем странность того, что вы получили? (подсказка: смотреть нужно на тип данных)

Изначально данные были в формате object. Для статистики их надо перевести в формат float.
Но это некорректно, т.к. в столбце есть пустые значения.

In [5]:
total.isna().count()

7032

In [6]:
df.shape

(7043, 21)

##### 4. Сделайте замену значений поля PhoneService  на числовые (Yes->1, No->0)

In [7]:
ps = df['PhoneService'].value_counts().values
print(ps)

[6361  682]

In [8]:
df_copy = df.copy()
df_copy['PhoneService'] = df_copy['PhoneService'].map({'Yes' : 1, 'No' : 0})
print(df_copy['PhoneService'])

0       0
1       1
2       1
3       0
4       1
       ..
7038    1
7039    1
7040    0
7041    1
7042    1
Name: PhoneService, Length: 7043, dtype: int64

##### 5. Сделайте замену пробелов в поле TotalCharges на np.nan и приведите поле к типу данных float32. Затем заполните оставшиеся пропуски значением 0 с помощью метода fillna у столбца. Снова выведите статистики и сравните с тем, что вы видели в вопросе 3

In [9]:
df_copy = df.copy()
df_copy.loc[df_copy['TotalCharges']== ' ', 'TotalCharges'] = np.nan
df_copy['TotalCharges'] = df_copy['TotalCharges'].astype(np.float32)
df_copy = df_copy.fillna(0)
df_copy.describe()

       SeniorCitizen       tenure  MonthlyCharges  TotalCharges
count    7043.000000  7043.000000     7043.000000   7043.000000
mean        0.162147    32.371149       64.761692   2279.732178
std         0.368612    24.559481       30.090047   2266.794434
min         0.000000     0.000000       18.250000      0.000000
25%         0.000000     9.000000       35.500000    398.549988
50%         0.000000    29.000000       70.350000   1394.550049
75%         0.000000    55.000000       89.850000   3786.599976
max         1.000000    72.000000      118.750000   8684.799805

##### 6. Сделайте замену значений поля Churn на числовые (Yes -> 1, No - 0)

In [10]:
df_copy = df.copy()
df_copy['Churn'] = df_copy['Churn'].map({'Yes' : 1, 'No' : 0})
print(df_copy['Churn'])

0       0
1       0
2       1
3       0
4       1
       ..
7038    0
7039    0
7040    0
7041    1
7042    0
Name: Churn, Length: 7043, dtype: int64

##### 7. Сделайте замену значений полей StreamingMovies, StreamingTV, TechSupport  на числовые (Yes -> 1, No -> 0, No internet service->0)

In [11]:
df_copy = df.copy()
df_copy['StreamingMovies'] = df_copy['StreamingMovies'].map({'Yes' : 1, 'No' : 0, 'No internet service': 0})
print(df_copy['StreamingMovies'])

0       0
1       0
2       0
3       0
4       0
       ..
7038    1
7039    1
7040    0
7041    0
7042    1
Name: StreamingMovies, Length: 7043, dtype: int64

In [12]:
df_copy = df_copy.copy()
df_copy['StreamingTV'] = df_copy['StreamingTV'].map({'Yes' : 1, 'No' : 0, 'No internet service': 0})
print(df_copy['StreamingTV'])

0       0
1       0
2       0
3       0
4       0
       ..
7038    1
7039    1
7040    0
7041    0
7042    1
Name: StreamingTV, Length: 7043, dtype: int64

In [13]:
df_copy = df_copy.copy()
df_copy['TechSupport'] = df_copy['TechSupport'].map({'Yes' : 1, 'No' : 0, 'No internet service': 0})
print(df_copy['TechSupport'])

0       0
1       0
2       0
3       1
4       0
       ..
7038    1
7039    0
7040    0
7041    0
7042    1
Name: TechSupport, Length: 7043, dtype: int64

In [14]:
print(df_copy['StreamingMovies'].value_counts(),'\n','\n', df_copy['StreamingTV'].value_counts(), '\n', '\n', df_copy['TechSupport'].value_counts())

0    4311
1    2732
Name: StreamingMovies, dtype: int64

 0    4336
1    2707
Name: StreamingTV, dtype: int64

 0    4999
1    2044
Name: TechSupport, dtype: int64

##### 8. Заполните пропуски в поле PhoneService значением 0

In [15]:
df_copy['PhoneService'] = df_copy['PhoneService'].fillna(0)
print(df_copy['PhoneService'])

0        No
1       Yes
2       Yes
3        No
4       Yes
       ...
7038    Yes
7039    Yes
7040     No
7041    Yes
7042    Yes
Name: PhoneService, Length: 7043, dtype: object

In [16]:
df_copy['PhoneService'].isna()

0       False
1       False
2       False
3       False
4       False
        ...
7038    False
7039    False
7040    False
7041    False
7042    False
Name: PhoneService, Length: 7043, dtype: bool

In [17]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   int64
 13  StreamingTV       7043 non-null   int64
 14  StreamingMovies   7043 non-null   int64
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(5), object(15)
memory usage: 1.1+ MB

#### 8. Для нашего датасета оставьте только указанный ниже список полей, удалив все другие и выведите верхние 3 строки

In [18]:
columns = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 
           'StreamingMovies', 'StreamingTV', 'TechSupport', 'Churn']
df[columns].head(3)

,gender,tenure,PhoneService,TotalCharges,StreamingMovies,StreamingTV,TechSupport,Churn
0,Female,1,No,29.85,No,No,No,No
1,Male,34,Yes,1889.5,No,No,No,No
2,Male,2,Yes,108.15,No,No,No,Yes

##### 9. Разделите датасет на тренировочную и тестовую выборку (подсказка - воспользуйтесь train_test_split из sklearn.model_selection. Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)

In [19]:
from sklearn.model_selection import train_test_split

features = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 'StreamingMovies', 'StreamingTV', 'TechSupport']
target = 'Churn'
X_train, X_test, y_train, y_test = train_test_split(df[features], df[target], test_size = 0.2)

C:\Users\User\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.25.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

##### 10. соберите pipeline для поля gender (нужно разобраться и изучить https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html ) из классов ColumnSelector и OHEEncoder, которые уже написаны ниже заранее

In [20]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline

class ColumnSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[self.key]
    
class NumberSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    Use on numeric columns in the data
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[[self.key]]
    
class OHEEncoder(BaseEstimator, TransformerMixin):
    def __init__(self, key):
        self.key = key
        self.columns = []

    def fit(self, X, y=None):
        self.columns = [col for col in pd.get_dummies(X, prefix=self.key).columns]
        return self

    def transform(self, X):
        X = pd.get_dummies(X, prefix=self.key)
        test_columns = [col for col in X.columns]
        for col_ in test_columns:
            if col_ not in self.columns:
                X[col_] = 0
        return X[self.columns]

gender = Pipeline([
                ('selector', ColumnSelector(key='gender')),
                ('ohe', OHEEncoder(key='gender'))
            ])

##### 11. Вызовите метод fit_transform у пайплайна gender и передайте туда нашу тренировочную выборку (пример по ссылке из документации https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html#sklearn.pipeline.Pipeline.fit)

In [21]:
gender.fit_transform(X_train)

      gender_Female  gender_Male
674               0            1
855               1            0
1655              1            0
5417              0            1
1634              0            1
...             ...          ...
3489              1            0
2095              0            1
5853              0            1
5419              1            0
2564              0            1

[5634 rows x 2 columns]

##### 12. Здесь код писать уже не нужно (все сделано за вас). К полю tenure применяем StandardScaler (нормируем и центрируем). Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html
Вопрос - в каких случаях это может быть полезно?

In [22]:
from sklearn.preprocessing import StandardScaler

tenure =  Pipeline([
                ('selector', NumberSelector(key='tenure')),
                ('standard', StandardScaler())
            ])

В случаях, когда данные очень разбросаны. Масштабирование помогает обучиться модели более эффективно.

##### 13. Напишите аналогичный (как для tenure) преобразователь поля TotalCharges

In [23]:
TotalCharges =  Pipeline([
                ('selector', NumberSelector(key='TotalCharges')),
                ('standard', StandardScaler())
            ])

In [25]:
X_train = X_train.loc[X_train['TotalCharges']!=' ']
TotalCharges.fit_transform(X_train)

array([[ 0.11732093],
       [ 1.8224825 ],
       [-0.94936794],
       ...,
       [ 1.64052208],
       [ 1.46430035],
       [-0.37949458]])

Объединение всех "кубиков" очень легко сделать таким образом

In [26]:
from sklearn.pipeline import FeatureUnion

number_features = Pipeline([
                ('selector', ColumnSelector(key=['PhoneService',
                                                 'StreamingMovies', 'StreamingTV', 
                                                 'TechSupport']))
            ])

In [27]:
feats = FeatureUnion([('tenure', tenure),
                      ('TotalCharges', TotalCharges),
                      ('continuos_features', number_features),
                      ('gender', gender)])
feature_processing = Pipeline([('feats', feats)])

На этом этапе что мы сделали:
1. написали преобразователь поля gender, который делает OHE кодирование
2. написали преобразователь для поля tenure, который нормирует и центрирует его 
3. повторили п. 2 для поля TotalCharges
3. для всех остальных просто взяли признаки как они есть, без изменений

У нас уже готов наш пайплайн, который преобразовывает признаки. Давайте обучим модель поверх него. В качестве модели возьмем RandomForestClassifier

In [45]:
def convert(d,c,v):
    for key, new_value in v.items():
        d.loc[d[c] == key, c] = new_value
    return d

In [46]:
for column_name in ['PhoneService', 'StreamingMovies', 'StreamingTV', 'TechSupport']:
    df = convert(df,
               column_name,
               {'Yes': 1, 'No': 0, 'No internet service': 0})
  
df = df.loc[df['TotalCharges']!=' ']

features = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 'StreamingMovies', 'StreamingTV', 'TechSupport']
target = 'Churn'
X_train, X_test, y_train, y_test = train_test_split(df[features], df[target], test_size = 0.3)

In [47]:
from sklearn.ensemble import RandomForestClassifier

pipeline = Pipeline([
    ('features',feats),
    ('classifier', RandomForestClassifier(random_state = 42)),
])

pipeline.fit(X_train, y_train)

Pipeline(steps=[('features',
                 FeatureUnion(transformer_list=[('tenure',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='tenure')),
                                                                 ('standard',
                                                                  StandardScaler())])),
                                                ('TotalCharges',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='TotalCharges')),
                                                                 ('standard',
                                                                  StandardScaler())])),
                                                ('continuos_features',
                                                 Pipeline(steps=[('selector',
                                                                  ColumnSelector(key=['PhoneService',
                                                                                      'StreamingMovies',
                                                                                      'StreamingTV',
                                                                                      'TechSupport']))])),
                                                ('gender',
                                                 Pipeline(steps=[('selector',
                                                                  ColumnSelector(key='gender')),
                                                                 ('ohe',
                                                                  OHEEncoder(key='gender'))]))])),
                ('classifier', RandomForestClassifier(random_state=42))])

##### 14. Сделайте прогноз вероятности оттока для X_test с помощью нашего предобученного на предыдущем шаге пайплайна и убедитесь что вам возвращаются вероятности для 2 классов

In [48]:
print('Колличество классов', pipeline.predict_proba(X_test).shape[1])

Колличество классов 2

##### 15. Посчитайте метрики качества получившейся модели (roc_auc, logloss)

In [49]:
from sklearn.metrics import roc_auc_score, log_loss

print(f"AUC-ROC:\t{roc_auc_score(y_test, pipeline.predict_proba(X_test)[:, 1]):.5f}",
      f"\nlog loss:\t{log_loss(y_test, pipeline.predict_proba(X_test)[:, 1]):.5f}")

AUC-ROC:	0.77431
log loss:	0.80147

### Сохраним наш пайплайн

In [51]:
!pip install dill
import dill
with open("model_RF.dill", "wb") as f:
    dill.dump(pipeline, f)

Collecting dill
  Downloading dill-0.3.7-py3-none-any.whl (115 kB)
Installing collected packages: dill
Successfully installed dill-0.3.7